[Desktop Entry]
Comment=YTTS-sort
Exec=YTTS-sort
GenericName=YTTS-sort
Icon=hexchat
Name=YTTS-sort
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
