[Desktop Entry]
Comment=YTTS-admin
Exec=/YTTS-admin
GenericName=YTTS-admin
Icon=/YTTS-admin.png
Name=YTTS-admin
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
