[Desktop Entry]
Comment=YTTS-payroll
Exec=/YTTS-payroll
GenericName=YTTS-payroll
Icon=/YTTS-payroll.png
Name=YTTS-payroll
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
