[Desktop Entry]
Comment=YTTS-split
Exec=/YTTS-split
GenericName=YTTS-split
Icon=/YTTS-split.png
Name=YTTS-split
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
